body {
  color: #094971;
  font-family: "Quicksand", sans-serif;

  font-size: 20px;
  background: #f8f9fa;

}

.nav-text {
  font-family: "Pacifico", cursive;
  text-decoration: none;
}

footer {
  background-color: #8b4638;
}

h3 {
  color: #094971;
  padding: 1rem;
}

h3:hover {
  background-color: #094971;
  border-radius: 5px;
  color: #fff;
}

/* headlines with lines */

.red-head {
  font-family: "Pacifico", cursive;
  color: #bf0c2a;

}

.white-head {
  font-family: "Pacifico", cursive;
  color: #fff;
  border-bottom: 2px solid #fff;
  overflow: hidden;
  text-align: center;

}

.decorated {
  overflow: hidden;
  text-align: center;
}

.decorated > span {
  position: relative;
  display: inline-block;
}

.decorated > span:before,
.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid #094971;
  width: 591px;
  /* half of limiter*/
  margin: 0 20px;
}

.decorated > span:before {
  right: 100%;
}

.decorated > span:after {
  left: 100%;
}

blockquote,
cite {
  font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
  color: #094971 !important;
}

.bg-wallpaper {
  background: url(/img/teawallpaper.png) no-repeat center center/cover;
}

.bg-blue {
  background: #094971;
}

.gallery {
  border-bottom: solid 1px #094971;
}
