.section-title {
  font-family: Pacifico;
  color: #bf0c2a;
  font-size: 2rem;
}

.section-description {
  font-family: Quicksand;
  font-size: 1.5rem;
  color: #094971;
}

body {
  color: #094971;
  font-family: "Quicksand", sans-serif;
}

.nav-text {
  font-family: "Pacifico", cursive;
  text-decoration: none;
}

footer {
  background-color: #8b4638;
}

h3 {
  color: #094971;
  padding: 1rem;
}

h3:hover {
  background-color: #094971;
  border-radius: 5px;
  color: #fff;
}

/* headlines with lines */

h2.red-head {
  font-family: "Pacifico", cursive;
  color: #bf0c2a;
}

.decorated {
  overflow: hidden;
  text-align: center;
}

.decorated > span {
  position: relative;
  display: inline-block;
}

.decorated > span:before,
.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid #094971;
  width: 591px;
  /* half of limiter*/
  margin: 0 20px;
}

.decorated > span:before {
  right: 100%;
}

.decorated > span:after {
  left: 100%;
}

blockquote,
cite {
  font-weight: bold;
}
